#calculator{
    height: 350px;
    width: 100%;
    border-style: solid;
    border-width: 2px;
}
#display{
    border-style: solid;
    border-width: 1px;
    height: 50px;
    margin-top: 15px;
    margin-right:2px;
    margin-left: 2px;
}